body {
    font-family: Raleway, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FF0057
}

header {
    text-align: center;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
}

.highlight {
  color: #e74c3c;
  font-weight: bold;
}

#footer {
  margin-top: 50px;
  font-size: 0.8rem;
  color: #7f8c8d;
}

#donate {
  margin-top: 50px;
  font-size: 0.8rem;
  color: #FFCCFF;
    text-align: center;
}

div {
  background-color: blue;
  color: white;
}
