body {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    color: FF0057
}

header {
    text-align: center;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
}
